body {
	color: #333;
}

header {
	border: 1px solid black;
	margin-top: 0;
	padding-top: 0;
}

h1 {
	margin-top: 0;
	margin-bottom: 0rem;
	/*font-family: Source Sans Pro, sans-serif;*/
	font-family: "Open Sans", sans-serif;
}

h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 1.7rem;
	font-weight: 300;
	/*font-family: Source Sans Pro, sans-serif;*/
	font-family: "Open Sans", sans-serif;
}

h3 {
	margin-bottom: 5px;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
	color: grey;
	border: 0;
	border-top: 1px solid;
	opacity: .60;
}

nav {
	background-color: #262626;
	background-color: #f1f1f1;
	position: sticky;
	top: 0;
	padding: 10px 20px;
	display: flex;
	justify-content: right;
	align-items: center;
	z-index: 1;
}

nav ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav ul li {
	margin-right: 20px;
}

details {
	padding: 10px;
}

/*
details:hover,
details:focus {
	background: #d4d1ec;
}

details[open] {
	background: #d4d1ec;
}
*/
details .content {
	margin-left: 10px;
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 12px;
	border: 4px solid #dbdbdb;
	background-color: #f3f3f3;
	box-shadow: 0 8px 6px -6px #dbdbdb;
	border-bottom-left-radius: 0.7em;
	position: relative;
	top: -4px;
}

summary {
	background: #dbdbdb;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	border-bottom-left-radius: 0.5em;
	padding: 8px;
	font-weight: 900;
	cursor: pointer;
	outline: 5px;
	box-shadow: 0 8px 6px -6px #dbdbdb;
}

img.logo {
	width: 35px;
	vertical-align: middle;
}

h1.section {
	text-align: left;
	font-size: 3.5rem;
	font-weight: 100;
	line-height: 1.2;
}

h3.description {
	margin-top: 0px;
}

a.nav-link {
	text-decoration: None;
	font-size: 17px;
}

a.nav-link:link {
	color: inherit;
}

a.nav-link:visited {
	color: #555;
}

p.bottom-margin-5 {
	margin-bottom: 5px;
}

p.contact-info {
	font-size: 1rem;
	margin-bottom: 5px;
}

ul.dashed {
	list-style-type: "\2014";
}

li {
	padding-left: 8px;
}

#Name {
	font-weight: 300;
	font-size: 3.5em;
	line-height: 1.2;
}

#nav-bar {
	margin-top: 0;
	padding-top: 0;
}


.container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 100%
}

.clear {

	clear: both;
}

.text-center {
	text-align: center;
}

.lead {
	font-size: 1.25rem;
	font-family: "Open sans", sans-serif;
}

.circle {
	border-radius: 15% !important;
}

.border {
	border: 2px solid rgba(156, 140, 137, .25);
}

.grey-bg {
	background-color: #f3f3f3;
}


.flex-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex: 0 0 auto
}

.full-screen {
	margin: 0 0 0 0;
}

.flex-container-screen,
div.cards-handler {
	display: flex;
}

.flex-container-screen {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.cards-handler {
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.card {
	width: 250px;
	height: 250px;
	background-color: red;
}



@media (min-width:576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px;
	}

	.flex-right {
		width: 100%;
	}
}


@media (min-width:992px) {
	.container {
		max-width: 960px;
		width: 70%;
	}

	.flex-container-screen {
		flex-direction: row;
	}

	.flex-left {
		margin-right: 24px;
	}

	.flex-right {
		width: 66%
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px;
	}
}


@media (min-width:1400px) {
	.container {
		max-width: 1320px;
	}
}