body {
	color: #333;
}

header {
	border: 1px solid black;
	margin-top: 0;
	padding-top: 0;
}

h1 {
	margin-top: 0;
	margin-bottom: 0rem;
	/*font-family: Source Sans Pro, sans-serif;*/
	font-family: "Open Sans", sans-serif;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	margin: 1rem 0;
	color: grey;
	border: 0;
	border-top: 1px solid;
	opacity: .60;
}

details {
	padding: 10px;
	border-radius: 3px;
	border-radius: 5px;
}

details:hover,
details:focus {
	background: #d4d1ec;
}

details[open] {
	background: #d4d1ec;
}

img.logo {
	width: 35px;
	vertical-align: middle;
}

h1.section {
	text-align: left;
	font-size: 3.5rem;
	font-weight: 100;
	line-height: 1.2;
}

a.nav-link {
	text-decoration: none;
	font-size: 17px;
}

a.nav-link:link {
	color: inherit;
}

a.nav-link:visited {
	color: #555;
}

#mugshot {
	margin-right: auto !important;
	margin-left: auto !important;
	display: block;
}

#Name {
	font-weight: 300;
	font-size: 3.5em;
	line-height: 1.2;
}


.container {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 100%
}

.clear {

	clear: both;
}

.text-center {
	text-align: center;
}

.lead {
	font-size: 1.25rem;
	font-family: "Open sans", sans-serif;
}

.circle {
	border-radius: 15% !important;
}

.border {
	border: 2px solid rgba(156, 140, 137, .25);
}

.grey-bg {
	background-color: #f3f3f3;
}

.header {
	/* makes stuff stay */
	position: sticky;
	top: 0;
	padding: 10px 16px;
	background: #555;
	color: #f1f1f1;
}

.col {
	flex: 1 0 0%;
}

.flex-container {
	display: flex;
}


@media (min-width:576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width:768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width:992px) {
	.container {
		max-width: 960px;
		width: 70%;
	}

	.flex-container-screen {
		display: flex;
	}

	.flex-left {
		flex: 0 0 auto;
		width: 33.3333333%
	}

	.flex-right {
		flex: 0 0 auto;
		width: 66.66666667%
	}
}

@media (min-width:1200px) {
	.container {
		max-width: 1140px;
	}
}


@media (min-width:1400px) {
	.container {
		max-width: 1320px;
	}
}